<div style="padding:0% 2%; height: 70vh">
  <nb-card style="height: 100%">
    <nb-card-body style="height: 100%">
      <div style="height: 100%" fxLayout = "column" fxLayoutAlign = "start center">
        <div fxFlex = "5"></div>
        <div fxFlex = "45" fxLayout = "column" fxLayoutAlign = "start center">
            Channels
        </div>
        <div fxFlex = "45" fxLayout = "column" fxLayoutAlign = "start center">
            Friends
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
